body {
    background-color: beige;
}

html {
    min-height: 100vh;
    position: relative;
    padding: 56px 0;
}

footer {
    position: absolute;
    bottom: 0;
}

.iconephoto {
    font-size: 3rem;
    cursor: pointer;
}

.vignette {
    max-width: 30%;
}

#bandeaucookies {
    position: fixed;
    bottom: -70px;
}

.input-icon {
    position: relative;
}

.input-icon>i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 74%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon>input {
    padding-left: 25px;
    padding-right: 0;
}

@media screen and (max-width:720px) {
    .vignette {
        max-width: 100%;
    }
}